
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
$text-secondary: #ccc;

* {

    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    
    #showcase{
        height: 80em;
        clip-path: polygon(100% 0, 100% 80%, 62% 100%, 0 80%, 0 0);
        background-image: url('../assets/showcase.jpg');
        background-size: cover;
        background-position: 50%; 

        #navigation{
            
            a{
                text-decoration: none;
                text-decoration-color: $text-secondary;
                color: $text-secondary;
                padding: 30px 15px;
                display: inline-block;
                margin: 10px auto;
                transition: transform .2s;                
            }
            a:hover{
                text-decoration: none;
                text-decoration-color: $text-secondary;
                color: $text-secondary;
                padding: 30px 15px;
                display: inline-block;
                margin: 10px auto;

                transform: scale(1.05);
                transition: transform .3s;
            }
            text-align: center;
       
        }
        color: $text-secondary;
        #identity{
            width: 480px;

            h1{
                font-size: 100px;
                
                letter-spacing: 5px;
                line-height: 0.8em;
            }
            #firstName{
                font-weight: 100;    
            }
            #lastName{   
                font-weight: 900;
            }
            br{
                padding: 5px 0 0 0;
                color: $text-secondary;
                width: inherit;
            }
            #occupation{
                padding:10px 0;
            }
            position: absolute;
            top: 25%;
            left: 15%;
        }
    }
    #about{
        #preview{
            display: inline-block;
            
            img{
            width: 25%;
            height:auto;
            }
            
        }
        #desc{
            width: max-content;
            display: inline-block;
            h1{
            font-size: 50px;
            font-weight: 700;
            }
        }
        
        
    }
}